# Final Project Submission

Please fill out:
* Student name: Ian Ngugi
* Student pace: full time
* Scheduled project review date/time: 
* Instructor name: Nikita Njoroge and Lucille Kaleha
* Blog post URL:

In [1]:
# importing the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#checking where the filepath exists before executing 
import os
fn=(r"C:\Users\PC\Documents\course_content\Phase_1_project\dsc-phase-1-project\zippedData\bom.movie_gross.csv.gz")
os.path.exists(fn)

True

In [4]:
#description of the dataset we will be working on
box_office=pd.read_csv(r"C:\Users\PC\Documents\course_content\Phase_1_project\dsc-phase-1-project\zippedData\bom.movie_gross.csv.gz")
box_office

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [5]:
#getting more information on the data set
#we have found out the dataset has three columns with null values(studio,domestic_gross and foreign_gross)
box_office.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [6]:
#checking the number of null values
box_office.isnull().sum()
#studio and domestic_gross have few null values we can therefore use the mean value to fill in for the nulls or simply erase them

title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

In [7]:
box_office.describe(include='all')

            title studio  domestic_gross foreign_gross         year
count        3387   3382    3.359000e+03          2037  3387.000000
unique       3386    257             NaN          1204          NaN
top     Bluebeard    IFC             NaN       1200000          NaN
freq            2    166             NaN            23          NaN
mean          NaN    NaN    2.874585e+07           NaN  2013.958075
std           NaN    NaN    6.698250e+07           NaN     2.478141
min           NaN    NaN    1.000000e+02           NaN  2010.000000
25%           NaN    NaN    1.200000e+05           NaN  2012.000000
50%           NaN    NaN    1.400000e+06           NaN  2014.000000
75%           NaN    NaN    2.790000e+07           NaN  2016.000000
max           NaN    NaN    9.367000e+08           NaN  2018.000000

In [8]:
#understanding the data parameters that are of high interest to us namely domestic_gross and foreign_gross
box_office['domestic_gross'].max()

936700000.0

In [10]:
#we have found the movie earned the most domestic_gross
box_office.loc[box_office['domestic_gross']==936700000.0]

                             title studio  domestic_gross foreign_gross  year
1872  Star Wars: The Force Awakens     BV     936700000.0       1,131.6  2015

In [29]:
#we should then procced to finding the highest foreign gross 
#however since the values are stored as dtype object we need to convert them to integers
#therefore i have started by removing the ',' from the integers in the list
box_office['foreign_gross']=box_office['foreign_gross'].str.replace(',','')
box_office['foreign_gross']

0       652000000
1       691300000
2       664300000
3       535700000
4       513900000
          ...
3382          NaN
3383          NaN
3384          NaN
3385          NaN
3386          NaN
Name: foreign_gross, Length: 3387, dtype: object

In [32]:
#getting the most frequent value which we will use to fill in for the NaN values in foreign_gross
box_office['foreign_gross'].value_counts().max()
box_office.loc[box_office['foreign_gross'].value_counts().max()]

title                  Salt
studio                 Sony
domestic_gross    1.183e+08
foreign_gross     175200000
year                   2010
Name: 23, dtype: object

In [34]:
#using the most frequent value to fill in for the NaN values
box_office['foreign_gross'].fillna(175200000,inplace=True)
box_office['foreign_gross']

0       652000000
1       691300000
2       664300000
3       535700000
4       513900000
          ...
3382    175200000
3383    175200000
3384    175200000
3385    175200000
3386    175200000
Name: foreign_gross, Length: 3387, dtype: object

In [36]:
#we then procced with our initial task of converting the dtype objct to integer
box_office['foreign_gross'] = pd.to_numeric(box_office['foreign_gross']).astype(int)
box_office['foreign_gross']

0       652000000
1       691300000
2       664300000
3       535700000
4       513900000
          ...
3382    175200000
3383    175200000
3384    175200000
3385    175200000
3386    175200000
Name: foreign_gross, Length: 3387, dtype: int32

In [40]:
#finally we can now have our max value for the foreign gross!
box_office['foreign_gross'].max()

960500000

In [42]:
#now we look more into the movie which generated the maximum foreign gross
box_office.loc[box_office['foreign_gross']==960500000]

,title,studio,domestic_gross,foreign_gross,year
328,Harry Potter and the Deathly Hallows Part 2,WB,381000000.0,960500000,2011